body {
    font-family: monospace;
}

#accordion {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.accordion-item {
    border-top: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.accordion-item:first-child {
    border-top: none;
}

.accordion-item.active .item-content {
    display: block;
}

.item-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.icon {
    margin-right: 5px;
}